body {
    background-color: #b8e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 800px;
    height: 500px;
    background-color: #b8e0e0;
    border: 2px solid #5b9ea6;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.barra-superior {
    height: 50px;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(45deg, #d5e8d5 25%, #c9dcc9 25%, 
    #c9dcc9 50%, #d5e8d5 50%, #d5e8d5 75%, #c9dcc9 75%, #c9dcc9 100%);
    background-size: 10px 10px;
}

.contenido {
    display: flex;
    flex: 1;
    gap: 10px;
    margin-bottom: 10px;
}

.lateral {
    width: 20%;
    background-color: #c5e3e6;
    border: 1px solid #5b9ea6;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #c5e3e6 25%, #b8d6d9 25%, 
    #b8d6d9 50%, #c5e3e6 50%, #c5e3e6 75%, #b8d6d9 75%, #b8d6d9 100%);
    background-size: 10px 10px;
}

.central {
    flex: 1;
    background-color: #1eee0b;
    border: 1px solid #0cf51f;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #c5e3e6 25%, #b8d6d9 25%,
     #b8d6d9 50%, #c5e3e6 50%, #c5e3e6 75%, #b8d6d9 75%, #b8d6d9 100%);
    background-size: 10px 10px;
}

.barra-inferior {
    height: 50px;
    background-color: #d8fd08ec;
    border: 1px solid #c5ee10;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #e0e0e0 25%, #d4d4d4 25%, 
    #d4d4d4 50%, #e0e0e0 50%, #e0e0e0 75%, #d4d4d4 75%, #d4d4d4 100%);
    background-size: 10px 10px;
}